* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    color: #fff;
    background: #0e1116;
}

header {
background: rgb(135,0,246);
background: linear-gradient(180deg, rgba(135,0,246,0.16650578688506656) 100%, rgba(14,17,22,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.logo img {
    width: 65px;
}

nav {
    display: flex;
    align-items: center;
   margin: 0 auto;
    width: 85%;
    justify-content: space-between;

}

ul {
    list-style: none;
}

li {
    display: inline-block;

}

li a {

    color: inherit;
    text-decoration: none;
    padding: 20px 10px;
}
button {
	cursor: pointer;
}
a button {
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: #fff;
    font-weight: 900;
    border-radius: 5px;
    background:#423a94;
    border: none;
    padding: 14px 35px;
}




main {
background: rgb(135,0,246);
background: linear-gradient(180deg, rgba(135,0,246,0.16650578688506656) 0%, rgba(14,17,22,1) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
   
}


.title {

	font-family: "Poppins";
	white-space: nowrap;
    background: linear-gradient(to left, #833ab4,#090979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 900;

    
}



.container-card button {
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: #fff;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 5px;
    background: #0e1116;
    border: 1px solid #423a94;
    padding: 14px 35px;
     transition: 0.2s ease;
}
.container button:hover {

	background:  #423a94;
}
p {
    padding-bottom: 20px;
    opacity: 70%;
}

.hole-primary {

    align-items: center;
    margin: 0 auto;
    gap: 100px;
    max-width: 80%;
    display: flex;

}

.hole-img img {
	
	 transition: transform 0.3s ease;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 6px;
    max-width: 500px;
}
.hole-img img:hover {
	transform: scale(1.1);
}
.hole {
    margin: 0 auto;
    width: 90%;
}
.hole h1 {
	font-size: 1.5rem;
}
.hole p {
	line-height: 20px;
}
.hole-center {

    align-items: center;
    margin: 60px;
    display: flex;
    justify-content: center;
}

.icon-hole {
	justify-content: center;
	flex-wrap: wrap;
    display: flex;
    gap: 25px;
}

.icon-hole img {
    transition: transform 0.3s ease;
    width: 40px;

}
.icon-hole img:hover {
	 transform: scale(1.1);
}
footer{
	 margin: 0 auto;
   height: 20vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
    max-width: 80%;
}

.class-footer button{
  color: #fff;
    font-weight: 900;
    border-radius: 5px;
    background: #0073f6;
    border: none;
    padding: 14px 35px;
}



@media screen and (max-width: 768px) {
    .hole-primary {
        gap: 20px;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .hole-img img {
        border-radius: 6px;
        max-width: 400px;
    }

    .icon-hole img {
        width: 30px;
        fill: #fff;
    }
  
    .container h1 {
    	font-size: 3.2rem;
    }
    .container-card h2 {
    	font-size: 1rem;
    }
    .footer h1{
    	font-size: 1rem;
    }
    .footer p {

    	font-size: 0.8rem;
    }
    .footer {
    	gap: 0;
    	align-items: start;
    	flex-direction: column;
    }
    .hole2 {
	display: flex;
	flex-direction: column-reverse;
}
.hole h1 {
	margin-bottom: 10px;
}
}